    <div class="container-fluid pnl3header">
        <header>
            <div class="d-flex p-2 align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-1">
                    <a href="/" class="d-flex align-items-center me-3 text-decoration-none">
                        <span style="font-size: 20px; font-weight: 700; color: #b150ff;">OraclePnL</span> <span class="badge badge-beta">BETA</span>
                    </a>

                    <ul class="nav d-none d-md-flex align-items-center gap-1">
                        <li><a href="/" class="nav-link text-white">Dashboard</a></li>
                        <li><a href="/signals" class="nav-link text-white">Signals</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>